html {
  font-family: 'Luckiest Guy', cursive;
  color: #ff0000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.banner {
  background-image: url("../images/banner-placeholder.jpg");
}

.nav-logo {
  width: 7rem;
}

.sandwich {
  width: 4rem;
}

h1,
h2 {
  color: #fff;
}

.img {
  height: 100vh;
}

.phrase {
  color: #ff0000;
}

.index-card {
  background-color:#03030a;
  overflow: hidden;
}

.index-card img {
  transition: transform 1s;
}

.preview-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255,0,0,.7);
  transition: background-color .5s;
}

.preview-overlay-white {
  background-color: rgba(255,255,255,.7);
}

.index-card h2 {
  opacity: 0;
  transition: opacity .5s;
}

.index-card:hover h2 {
  opacity: 1;
}

.index-card:hover .preview-overlay {
  background-color: rgba(255,0,0,.0);
}

.index-card:hover img {
  transform: scale(1.2);
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  /* Put the checkbox off the top of the screen */
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav-label {
  background-color: grey;
}
